html
  head
    title
      | Dabbawala Service
    // fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // //fonts
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    // for-mobile-apps
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Favorites Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    // //for-mobile-apps
    // js
    script(type='text/javascript', src='js/jquery.min.js')
    // js
    
    // start-smoth-scrolling
    script(type='text/javascript', src='js/move-top.js')
    script(type='text/javascript', src='js/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
      });
    // start-smoth-scrolling
  body
    // header
    .header
      .container
        .top-header
          .header-left
            p Dabbawala Service
          .login-section
            ul
              li
                a(href='/login') Login
              |  |
              li
                a(href='/register') Register
          .header-right
            ul
              li
                a(href='/adlogin') Admin Login
          
          
          .clearfix
    // //header
    // banner
    .banner-slider
      .banner-pos
        .banner.one.page-head
          .container
            .navigation.text-center
              span.menu
                img(src='images/menu.png', alt='')
              ul.nav1
                li
                  p .
                li
                  a(href='/') HOME
                li
                  a(href='/about') ABOUT
                li
                  a(href='/ourmenu') OUR MENU
                li
                  a(href='/gallery') GALLERY
                .clearfix
              // script for menu
              script.
                $( "span.menu" ).click(function() {
                $( "ul.nav1" ).slideToggle( 300, function() {
                // Animation complete.
                });
                });
              // //script for menu
            // point burst circle
            .logo
              a(href='/index')
                .burst-36
                  div
                    div
                      span
                        img(src='images/logo.png', alt='')
                h1 DABBAWALA
            // //point burst circle
    // //banner
    // login-page
    .login
      .container
        .login-grids
          .col-md-12.log
            h3 ADMIN LOGIN
            form(action='/adlogin' method='post')
              h5 Email:
              br
              input.form-control(type='text' placeholder='Name' name="name")
              br
              h5 Password:
              br
              input.form-control(type='password' placeholder='Password' name="password")
              br
              input(type='submit', value='LOGIN')
          
    // footer-top
    .footer-top
      .container
        .col-md-3.footer-grid
          h3
            a(href='#') Dabbawala
        
        .col-md-3.footer-grid.footer-right
          h4 ADDRESS
          ul Flowers Street,Andheri.
            li.list-one 
            li.list-two
              a(href='mailto:info@example.com') Dabbawala@gmail.com
            li.list-three +8 800 555 555 55
        .clearfix
    // //footer-top
    // footer
    .footer
      .container
        .footer-left
          p
            | © Dabbawala Service
        .footer-right
          ul
            li
              a.twitter(href='#')  
            li
              a.facebook(href='#')  
            li
              a.chrome(href='#')  
            li
              a.pinterest(href='#')  
            li
              a.linkedin(href='#')  
            li
              a.dribbble(href='#')  
        .clearfix
    // //footer
    // smooth scrolling
    script(type='text/javascript').
      $(document).ready(function() {
      /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      */
      $().UItoTop({ easingType: 'easeOutQuart' });
      });
    a#toTop(href='#', style='display: block;')
      span#toTopHover(style='opacity: 1;')  
    // //smooth scrolling

    script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
    script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript", src="/vendor/toastr/toastr.min.js")

