html
  head
    title
      | Dabbawala Service
    // fonts
    link(href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')
    // //fonts
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet', type='text/css', media='all')
    // for-mobile-apps
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='keywords', content='Favorites Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, \
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design')
    script(type='application/x-javascript').
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    // //for-mobile-apps
    // js
    script(type='text/javascript', src='js/jquery.min.js')
    // js
    
    // start-smoth-scrolling
    script(type='text/javascript', src='js/move-top.js')
    script(type='text/javascript', src='js/easing.js')
    script(type='text/javascript').
      jQuery(document).ready(function($) {
      $(".scroll").click(function(event){
      event.preventDefault();
      $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
      });
    // start-smoth-scrolling
  body
    // header
    .header
      .container
        .top-header
          .header-left
            p Dabbawala Service
          .login-section
            ul
              li
                a(href='/signout') Log Out
                
                  
    .contact
      .container
        .contact-form
          .contact-info
            h3  PLACE YOUR ORDER
            .strip-line
          form(action='/contact' method='post')
            .contact-left
              input.form-control(type='email' placeholder='Email' name="email" required)
              br
              input.form-control(type='text' placeholder='Address of the delivery' name="subject" required)
            .contact-right
              textarea.form-control(type='text' placeholder='Order Details' name="message" required)
            .clearfix
            button.btn.btn-default(type='submit') Submit
    // //contact-page
    // footer-top
    .footer-top
      .container
        .col-md-3.footer-grid
          h3
            a(href='#') Dabbawala
        .col-md-3.footer-grid
          h4 BUFFET
          p
            | MONDAY - THURSDAY
            span 7 : 00 - 21 : 00
        .col-md-3.footer-grid
          h4 ORDERS
          p
            | MONDAY - SUNDAY
            span 7 : 00 - 21 : 00
        .col-md-3.footer-grid
          h4 ADDRESS
          ul Flowers Street,Andheri.
            li.list-one 
            li.list-two
              a(href='mailto:info@example.com') Dabbawala@gmail.com
            li.list-three +8 800 555 555 55
        .clearfix
    // //footer-top
    // footer
    .footer
      .container
        .footer-left
          p
            | © Dabbawala Service
        .footer-right
          ul
            li
              a.twitter(href='#')  
            li
              a.facebook(href='#')  
            li
              a.chrome(href='#')  
            li
              a.pinterest(href='#')  
            li
              a.linkedin(href='#')  
            li
              a.dribbble(href='#')  
        .clearfix
    // //footer
    // smooth scrolling
    script(type='text/javascript').
      $(document).ready(function() {
      /*
      var defaults = {
      containerID: 'toTop', // fading element id
      containerHoverID: 'toTopHover', // fading element hover id
      scrollSpeed: 1200,
      easingType: 'linear'
      };
      */
      $().UItoTop({ easingType: 'easeOutQuart' });
      });
    a#toTop(href='#', style='display: block;')
      span#toTopHover(style='opacity: 1;')  
    // //smooth scrolling

    script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
    script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.js")
    script(type="text/javascript", src="/vendor/toastr/toastr.min.js")

